body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@keyFrames anim-star {
	from {
		transform: translateY(800px);

	} to {
		transform: translateY(-0vh);
	}
}


.star {
	position: absolute;
	width: 3px;
	height: 3px;
	border-radius: 50%;
	box-shadow:

	150px 40px 		white,
	200px 86px 		white,
	10px  402px 	white,
	350px 250px  	white,
	210px 290px 	white,
	150px 410px 	white,
	400px 490px 	white,
	100px 190px 	white,
	250px 470px 	white,
	204px 206px 	white,
	404px 350px 	white,

  1100px 110px 12px white,
	1404px 1390px 12px white,
	1150px 1149px 12px white,
	1304px 1210px 12px white,
	1310px 140px  12px white,
	148px  130px  112px white,
	1450px 1100px 12px white,
	1150px 140px 		white,
	1200px 186px 		white,
	110px  1402px 	white,
	1350px 1250px  	white,
	1210px 1290px 	white,
	1150px 1410px 	white,
	1400px 1490px 	white,
	1100px 1190px 	white,
	1250px 1470px 	white,
	1204px 1206px 	white,
	1404px 1350px 	white;
	animation: anim-star 20s linear infinite;
}
 
.star::after {
	position: absolute;
	content: "";
	top: 524px;
	width: 3px;
	height: 3px;
	border-radius: 50%;
	box-shadow: 100px 10px 2px white,
	404px 390px 2px white,
	150px 149px 2px white,
	304px 210px 2px white,
	310px 40px  2px white,
	48px  30px  2px white,
	450px 100px 2px white,
	150px 40px 		white,
	200px 86px 		white,
	10px  402px 	white,
	350px 250px  	white,
	210px 290px 	white,
	150px 410px 	white,
	400px 490px 	white,
	100px 190px 	white,
	250px 470px 	white,
	204px 206px 	white,
	404px 350px 	white,



  1100px 110px 12px white,
	1404px 1390px 12px white,
	1150px 1149px 12px white,
	1304px 1210px 12px white,
	1310px 140px  12px white,
	148px  130px  112px white,
	1450px 1100px 12px white,
	1150px 140px 		white,
	1200px 186px 		white,
	110px  1402px 	white,
	1350px 1250px  	white,
	1210px 1290px 	white,
	1150px 1410px 	white,
	1400px 1490px 	white,
	1100px 1190px 	white,
	1250px 1470px 	white,
	1204px 1206px 	white,
	1404px 1350px 	white;
} 

 .star2 {
	position: relative;
	width: 3px;
	height: 3px;
	border-radius: 50%;
	box-shadow: 100px 10px 2px white,
	26px  151px 2px white,
	65px  157px 2px white,
	34px  136px 2px white,
	380px 430px 2px white,
	480px 42px  2px white,
	400px 22px  2px white,
	182px 140px 	white,
	453px 283px 	white,
	217px 412px 	white,
	341px 221px  	white,
	330px 332px 	white,
	140px 222px 	white,
	320px 491px 	white,
	140px 189px 	white,
	359px 155px 	white,
	207px 226px 	white,
	262px 374px 	white,


  126px  1151px 12px white,
	165px  1157px 12px white,
	134px  1136px 12px white,
	1380px 1430px 12px white,
	1480px 142px  12px white,
	1400px 122px  12px white,
	1182px 1140px 	white,
	1453px 1283px 	white,
	1217px 1412px 	white,
	1341px 1221px  	white,
	1330px 1332px 	white,
	1140px 1222px 	white,
	1320px 1491px 	white,
	1140px 1189px 	white,
	1359px 1155px 	white,
	1207px 1226px 	white,
	1262px 1374px 	white;
	animation: anim-star 35s linear infinite;
}

.star2::after {
	position: absolute;
	top: 500px;
	content: "";
	width: 3px;
	height: 3px;
	border-radius: 50%;
	box-shadow: 100px 10px 2px white,
	26px  151px 2px white,
	65px  157px 2px white,
	34px  136px 2px white,
	380px 430px 2px white,
	480px 42px  2px white,
	400px 22px  2px white,
	182px 140px 	white,
	453px 283px 	white,
	217px 412px 	white,
	341px 221px  	white,
	330px 332px 	white,
	140px 222px 	white,
	320px 491px 	white,
	140px 189px 	white,
	359px 155px 	white,
	207px 226px 	white,
	262px 374px 	white,


  126px  1151px 12px white,
	165px  1157px 12px white,
	134px  1136px 12px white,
	1380px 1430px 12px white,
	1480px 142px  12px white,
	1400px 122px  12px white,
	1182px 1140px 	white,
	1453px 1283px 	white,
	1217px 1412px 	white,
	1341px 1221px  	white,
	1330px 1332px 	white,
	1140px 1222px 	white,
	1320px 1491px 	white,
	1140px 1189px 	white,
	1359px 1155px 	white,
	1207px 1226px 	white,
	1262px 1374px 	white;
	
	
}

@keyFrames anim-star1 {
	from {
		transform: translatey(600px);

	} to {
		transform: translatey(964px);
	}
}


.star1 {
	position: relative;
	width: 3px;
	height: 3px;
	border-radius: 50%;
	box-shadow:
  100px 10px 2px white,
	404px 390px 2px white,
	150px 149px 2px white,
	304px 210px 2px white,
	310px 40px  2px white,
	48px  30px  2px white,
	450px 100px 2px white,
	150px 40px 		white,
	200px 86px 		white,
	10px  402px 	white,
	350px 250px  	white,
	210px 290px 	white,
	150px 410px 	white,
	400px 490px 	white,
	100px 190px 	white,
	250px 470px 	white,
	204px 206px 	white,
	404px 350px 	white,

  1100px 110px 12px white,
	1404px 1390px 12px white,
	1150px 1149px 12px white,
	1304px 1210px 12px white,
	1310px 140px  12px white,
	148px  130px  112px white,
	1450px 1100px 12px white,
	1150px 140px 		white,
	1200px 186px 		white,
	110px  1402px 	white,
	1350px 1250px  	white,
	1210px 1290px 	white,
	1150px 1410px 	white,
	1400px 1490px 	white,
	1100px 1190px 	white,
	1250px 1470px 	white,
	1204px 1206px 	white,
	1404px 1350px 	white;
	animation: anim-star1 40s linear infinite;
}

.star1::after {
	position:absolute;
	content: "";
	top: 300px;
	width: 3px;
	height: 3px;
	border-radius: 50%;
	box-shadow: 100px 10px 2px white,
	404px 390px 2px white,
	150px 149px 2px white,
	304px 210px 2px white,
	310px 40px  2px white,
	48px  30px  2px white,
	450px 100px 2px white,
	150px 40px 		white,
	200px 86px 		white,
	10px  402px 	white,
	350px 250px  	white,
	210px 290px 	white,
	150px 410px 	white,
	400px 490px 	white,
	100px 190px 	white,
	250px 470px 	white,
	204px 206px 	white,
	404px 350px 	white,

  1100px 110px 12px white,
	1404px 1390px 12px white,
	1150px 1149px 12px white,
	1304px 1210px 12px white,
	1310px 140px  12px white,
	148px  130px  112px white,
	1450px 1100px 12px white,
	1150px 140px 		white,
	1200px 186px 		white,
	110px  1402px 	white,
	1350px 1250px  	white,
	1210px 1290px 	white,
	1150px 1410px 	white,
	1400px 1490px 	white,
	1100px 1190px 	white,
	1250px 1470px 	white,
	1204px 1206px 	white,
	1404px 1350px 	white;
}

.star3 {
	position: absolute;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	box-shadow: 100px 10px 2px white,
	26px  151px 2px white,
	65px  157px 2px white,
	34px  136px 2px white,
	380px 430px 2px white,
	480px 42px  2px white,
	400px 22px  2px white,
	182px 140px 	white,
	453px 283px 	white,
	217px 412px 	white,
	341px 221px  	white,
	330px 332px 	white,
	140px 222px 	white,
	320px 491px 	white,
	140px 189px 	white,
	359px 155px 	white,
	207px 226px 	white,
	262px 374px 	white,


  126px  1151px 12px white,
	165px  1157px 21px white,
	134px  1136px 12px white,
	1380px 1430px 12px white,
	1480px 142px  12px white,
	1400px 122px  12px white,
	1182px 1140px 	white,
	1453px 1283px 	white,
	1217px 1412px 	white,
	1341px 1221px  	white,
	1330px 1332px 	white,
	1140px 1222px 	white,
	1320px 1491px 	white,
	1140px 1189px 	white,
	1359px 1155px 	white,
	1207px 1226px 	white,
	1262px 1374px 	white;
	animation: anim-star1 15s linear infinite;
}

.star3::after {
	position: absolute;
	top: 924px;
	content: "";
	width: 3px;
	height: 3px;
	border-radius: 50%;
	box-shadow: 100px 10px 2px white,
	26px  151px 2px white,
	65px  157px 2px white,
	34px  136px 2px white,
	380px 430px 2px white,
	480px 42px  2px white,
	400px 22px  2px white,
	182px 140px 	white,
	453px 283px 	white,
	217px 412px 	white,
	341px 221px  	white,
	330px 332px 	white,
	140px 222px 	white,
	320px 491px 	white,
	140px 189px 	white,
	359px 155px 	white,
	207px 226px 	white,
	262px 374px 	white,

  126px  1151px 12px white,
	165px  1157px 21px white,
	134px  1136px 12px white,
	1380px 1430px 12px white,
	1480px 142px  12px white,
	1400px 122px  12px white,
	1182px 1140px 	white,
	1453px 1283px 	white,
	1217px 1412px 	white,
	1341px 1221px  	white,
	1330px 1332px 	white,
	1140px 1222px 	white,
	1320px 1491px 	white,
	1140px 1189px 	white,
	1359px 1155px 	white,
	1207px 1226px 	white,
	1262px 1374px 	white;
	
} 
 